h1{
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
}

p{
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
	color: red;
}

cite{
	color: white;
	background-color: black;
}
